# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# IDE / Editor files
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebooks Checkpoints
.ipynb_checkpoints

# Configs / Secrets
config/*.yaml
